* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

.home h1 {
  font-family: sans-serif;
  margin-top: 100px;
  text-align: center;
}
.home .img1 {
  background-image: url(/images/620-japan.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 200px;
  width: 1200px;
  background-position: center;
  padding-top: 300px;
  position: relative;
  left: 400px;
}
.home .img2 {
  background-image: url(/images/merlin_182084043_c15acc8f-31de-412d-ab41-c20e5565b832-mediumSquareAt3X.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 200px;
  width: 1200px;
  background-position: center;
  padding-top: 300px;
  position: relative;
  bottom: 390px;
  right: 100px;
}
.home p {
  font-family: sans-serif;
  text-indent: 50px;
  font-stretch: condensed;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: lightcoral;
  font-size: 30px;
  font-family: sans-serif;
}
nav a:link {
  text-decoration: none;
}
nav a:visited {
  text-decoration: none;
  color: white;
}

.about h1 {
  font-family: sans-serif;
  margin-top: 100px;
  text-align: center;
}
.about .img3 {
  background-image: url(/images/03418e6d7e65abf13c56711561021854.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 200px;
  width: 1200px;
  background-position: center;
  padding-top: 300px;
  position: relative;
  left: 400px;
}
.about .img4 {
  background-image: url(/images/england-in-pictures-beautiful-places-to-photograph-london.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 200px;
  width: 1200px;
  background-position: center;
  padding-top: 300px;
  position: relative;
  bottom: 390px;
  right: 100px;
}
.about p {
  font-family: sans-serif;
  text-indent: 50px;
  font-stretch: condensed;
}

.reviews h1 {
  font-family: sans-serif;
  margin-top: 100px;
  text-align: center;
}
.reviews .img5 {
  background-image: url(/images/image.jfif);
  background-repeat: no-repeat;
  background-size: contain;
  height: 400px;
  width: 1200px;
  position: relative;
  left: 40px;
}
.reviews .img6 {
  background-image: url(/images/man.jfif);
  background-repeat: no-repeat;
  background-size: contain;
  height: 400px;
  width: 1200px;
  position: relative;
  left: 40px;
}
.reviews .text {
  position: relative;
  left: 500px;
  bottom: 250px;
  width: 40%;
  font-family: sans-serif;
}
.reviews .text2 {
  position: relative;
  left: 500px;
  bottom: 250px;
  width: 40%;
  font-family: sans-serif;
}

.trips h1 {
  font-family: sans-serif;
  margin-top: 100px;
  text-align: center;
}
.trips .korea {
  background-image: url(/images/korea.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 400px;
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 400px;
}
.trips .vietnam {
  background-image: url(/images/vietnam.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 400px;
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 400px;
}
.trips .text {
  margin: 50px;
  font-family: sans-serif;
}

footer {
  width: 100%;
  height: 200px;
  background-color: lightcoral;
}
footer h1 {
  text-align: center;
  color: white;
  font-family: sans-serif;
}
footer p {
  text-align: center;
  color: white;
  font-family: sans-serif;
}
footer Address {
  text-align: center;
  color: white;
  font-family: sans-serif;
}